## Combine the different days data

In [3]:
import pandas as pd
import os

directory = './Twitter_Airline Dataset'
all_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

all_dataframes = []
for file in all_files:
    try:
        df = pd.read_csv(os.path.join(directory, file), encoding='utf-8')
    except UnicodeDecodeError:
        df = pd.read_csv(os.path.join(directory, file), encoding='ISO-8859-1')  
    all_dataframes.append(df)

combined_dataframe = pd.concat(all_dataframes, ignore_index=True)
combined_csv_path = os.path.join(directory, 'combined_csv.csv')
combined_dataframe.to_csv(combined_csv_path, index=False)

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("TwitterAirlineAnalysis").getOrCreate()

df = spark.read.csv("./Twitter_Airline Dataset/combined_csv.csv", header=True)

df.show()

+--------------------+------------------+---------------+----------+-------+--------------------+--------+-----------+------+----------+--------+-------+--------------------+---------------+-----------------+--------------+--------------+----------------------+----------+-------------------+-------------+--------------------+-----------+---------------+--------+--------------+--------------------+
|            _unit_id|       _created_at|        _golden|       _id|_missed|         _started_at|_tainted|   _channel|_trust|_worker_id|_country|_region|               _city|            _ip|airline_sentiment|negativereason|       airline|airline_sentiment_gold|      name|negativereason_gold|retweet_count|                text|tweet_coord|  tweet_created|tweet_id|tweet_location|       user_timezone|
+--------------------+------------------+---------------+----------+-------+--------------------+--------+-----------+------+----------+--------+-------+--------------------+---------------+-----------------+--------------+--------------+----------------------+----------+-------------------+-------------+--------------------+-----------+---------------+--------+--------------+--------------------+
|           681448150|2/25/2015 04:52:40|          False|1575073003|   NULL|  2/25/2015 04:49:12|   False|      elite|0.8108|  31110645|     IND|      2|           Hyderabad|   14.96.16.155|          neutral|          NULL|Virgin America|                  NULL|   cairdin|               NULL|            0|@VirginAmerica Wh...|       NULL|24/2/2015 11:35| 5.7e+17|          NULL|Eastern Time (US ...|
|           681448150|2/25/2015 05:22:10|          False|1575093916|   NULL|  2/25/2015 05:19:59|   False|    prodege|0.8919|   1908948|     CAN|     ON|             Toronto|   69.157.64.87|          neutral|          NULL|Virgin America|                  NULL|   cairdin|               NULL|            0|@VirginAmerica Wh...|       NULL|24/2/2015 11:35| 5.7e+17|          NULL|Eastern Time (US ...|
|           681448150|2/25/2015 05:24:40|          False|1575095606|   NULL|  2/25/2015 05:20:10|   False|  clixsense|0.7222|  31396033|     MEX|     19|           Monterrey| 201.173.25.245|          neutral|          NULL|Virgin America|                  NULL|   cairdin|               NULL|            0|@VirginAmerica Wh...|       NULL|24/2/2015 11:35| 5.7e+17|          NULL|Eastern Time (US ...|
|           681448153|2/25/2015 01:43:24|          False|1574913129|   NULL|  2/25/2015 01:40:59|   False|     neodev|0.8966|  31346116|     ITA|     18|              Bastia|  93.189.142.86|         positive|          NULL|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica pl...|       NULL|24/2/2015 11:15| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448153|2/25/2015 01:43:34|          False|1574913225|   NULL|  2/25/2015 01:40:56|   False|     neodev|0.8108|  31452413|     CHL|     12|            Santiago|181.161.155.148|          neutral|          NULL|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica pl...|       NULL|24/2/2015 11:15| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448153|2/25/2015 01:53:36|          False|1574921921|   NULL|  2/25/2015 01:51:07|   False|  clixsense|0.8649|  31777977|     TUR|     34|            Istanbul| 78.176.111.242|         negative|     badflight|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica pl...|       NULL|24/2/2015 11:15| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448156|2/25/2015 09:54:54|          False|1575294850|   NULL|  2/25/2015 09:53:43|   False|     neodev|0.8649|  31680409|     HUN|      5|            Budapest|   84.0.164.117|         positive|          NULL|Virgin America|                  NULL|yvonnalynn|               NULL|            0|@VirginAmerica I ...|       NULL|24/2/2015 11:15| 5.7e+17|     Lets Play|Central Time (US ...|
|           681448156|2/25/2015 09:55:16|          False|1575295032|   NULL|  2/25/2015 09:53:55|   False|      elite|0.9459|  26336767|     GBR|   NULL|                NULL|   82.6.179.139|          neutral|          NULL|Virgin America|                  NULL|yvonnalynn|               NULL|            0|@VirginAmerica I ...|       NULL|24/2/2015 11:15| 5.7e+17|     Lets Play|Central Time (US ...|
|           681448156|2/25/2015 10:01:15|          False|1575299412|   NULL|  2/25/2015 09:56:14|   False|  clixsense|0.9231|  31233495|     MYS|     14|        Kuala Lumpur|175.136.216.211|          neutral|          NULL|Virgin America|                  NULL|yvonnalynn|               NULL|            0|@VirginAmerica I ...|       NULL|24/2/2015 11:15| 5.7e+17|     Lets Play|Central Time (US ...|
|           681448158|2/25/2015 03:00:19|          False|1574982445|   NULL|  2/25/2015 02:58:52|   False|  clixsense|0.7297|  28633712|     VEN|   NULL|                NULL| 186.91.141.213|         negative|     CSProblem|Virgin America|                  NULL|  jnardino|               NULL|            0|"@VirginAmerica i...|       NULL|24/2/2015 11:15| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448158|2/25/2015 03:02:43|          False|1574984793|   NULL|  2/25/2015 02:59:01|   False|tremorgames|0.7778|  30257704|     BRA|     27|           São Paulo|  201.6.193.157|         negative|     badflight|Virgin America|                  NULL|  jnardino|               NULL|            0|"@VirginAmerica i...|       NULL|24/2/2015 11:15| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448158|2/25/2015 03:05:28|          False|1574987372|   NULL|  2/25/2015 02:58:56|   False|    instagc|0.9524|  29411108|     USA|     OH|           Fairfield|    71.79.16.89|         negative|     badflight|Virgin America|                  NULL|  jnardino|               NULL|            0|"@VirginAmerica i...|       NULL|24/2/2015 11:15| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448159|2/25/2015 05:48:45|          False|1575113792|   NULL|  2/25/2015 05:46:56|   False|      elite|0.9459|  31028719|     MEX|     19|San Nicolás De Lo...|  189.153.91.14|         negative|      canttell|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica an...|       NULL|24/2/2015 11:14| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448159|2/25/2015 05:49:57|          False|1575114719|   NULL|  2/25/2015 05:46:50|   False|      elite|0.8108|  31110645|     IND|      2|           Hyderabad|   14.96.16.155|         negative|      canttell|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica an...|       NULL|24/2/2015 11:14| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448159|2/25/2015 05:50:28|          False|1575115160|   NULL|  2/25/2015 05:46:56|   False|     neodev|0.7917|  12383470|     IND|   NULL|                NULL|   14.96.34.201|         negative|      canttell|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica an...|       NULL|24/2/2015 11:14| 5.7e+17|          NULL|Pacific Time (US ...|
|           681448162|2/25/2015 09:09:49|          False|1575262718|   NULL|  2/25/2015 09:07:03|   False|      elite|0.8108|  25411252|     IND|   NULL|                NULL| 116.202.38.143|         negative|     badflight|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica se...|       NULL|           NULL|    NULL|          NULL|                NULL|
|it's really the o...|              NULL|24/2/2015 11:14|   5.7e+17|   NULL|Pacific Time (US ...|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|                NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|      NULL|               NULL|         NULL|                NULL|       NULL|           NULL|    NULL|          NULL|                NULL|
|           681448162|2/25/2015 09:09:51|          False|1575262724|   NULL|  2/25/2015 09:07:06|   False|     neodev|0.8649|  30259533|     PRT|     17|   Vila Nova De Gaia|  188.83.91.199|         negative|      canttell|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica se...|       NULL|           NULL|    NULL|          NULL|                NULL|
|it's really the o...|              NULL|24/2/2015 11:14|   5.7e+17|   NULL|Pacific Time (US ...|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|                NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|      NULL|               NULL|         NULL|                NULL|       NULL|           NULL|    NULL|          NULL|                NULL|
|           681448162|2/25/2015 09:10:19|          False|1575263005|   NULL|  2/25/2015 09:07:07|   False|  clixsense|0.8919|  30850035|     ESP|     56|           Barcelona|  217.127.77.89|         negative|      canttell|Virgin America|                  NULL|  jnardino|               NULL|            0|@VirginAmerica se...|       NULL|           NULL|    NULL|          NULL|                NULL|
+--------------------+------------------+---------------+----------+-------+--------------------+--------+-----------+------+----------+--------+-------+--------------------+---------------+-----------------+--------------+--------------+----------------------+----------+-------------------+-------------+--------------------+-----------+---------------+--------+--------------+--------------------+
only showing top 20 rows

In [7]:
df.count()

587942

Task 1: To list and justify your interpretation of the dataset. 
For example 
1) what are the meanings of the columns being used, how and why are they being used; 
2) list (if any) thepre-processing on the dataset like deduplicating, filling up missing values.

## Deduplicate based on uniqiue identifiers

In [8]:
df_deduplicated = df.drop_duplicates(subset=['_unit_id', '_id'])

In [9]:
df_deduplicated.count()

56022

## Missing Value

Fill missing 'retweet count' with mean

In [10]:
from pyspark.sql.functions import when, col, mean, lit
mean_val = df_deduplicated.select(mean(df_deduplicated['retweet_count'])).collect()[0][0]
mean_val

0.08358175375442939

In [11]:
df_deduplicated = df_deduplicated.withColumn('retweet_count', when(col('retweet_count').isNull(), mean_val).otherwise(col('retweet_count')))

In [13]:
df_deduplicated.show()

+--------------------+------------------+---------------+----------+------------------+--------------------+--------+-----------+------+----------+--------+-------+-----------+---------------+-----------------+--------------+--------------+----------------------+---------------+-------------------+-------------------+--------------------+--------------------+---------------+--------+--------------------+--------------------+
|            _unit_id|       _created_at|        _golden|       _id|           _missed|         _started_at|_tainted|   _channel|_trust|_worker_id|_country|_region|      _city|            _ip|airline_sentiment|negativereason|       airline|airline_sentiment_gold|           name|negativereason_gold|      retweet_count|                text|         tweet_coord|  tweet_created|tweet_id|      tweet_location|       user_timezone|
+--------------------+------------------+---------------+----------+------------------+--------------------+--------+-----------+------+----------+--------+-------+-----------+---------------+-----------------+--------------+--------------+----------------------+---------------+-------------------+-------------------+--------------------+--------------------+---------------+--------+--------------------+--------------------+
|           #annoyed"|              NULL|19/2/2015 20:33|  5.69e+17|              NULL|                NULL|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|                NULL|
|         #flyunited"|              NULL|17/2/2015 18:22|  5.68e+17|              NULL|Atlantic Time (Ca...|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|                NULL|
|#wheelsup #JetBlu...|              NULL|24/2/2015 11:48|   5.7e+17|east brunswick, nj|Atlantic Time (Ca...|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|                NULL|
|....how about a 1...|              NULL|23/2/2015 11:12|   5.7e+17|              NULL|                NULL|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|                NULL|
|           681448158|2/25/2015 03:05:28|          False|1574987372|              NULL|  2/25/2015 02:58:56|   False|    instagc|0.9524|  29411108|     USA|     OH|  Fairfield|    71.79.16.89|         negative|     badflight|Virgin America|                  NULL|       jnardino|               NULL|                  0|"@VirginAmerica i...|                NULL|24/2/2015 11:15| 5.7e+17|                NULL|Pacific Time (US ...|
|           681448169|2/25/2015 08:59:02|          False|1575255039|              NULL|  2/25/2015 08:57:46|   False|     neodev|0.8649|  11018419|     SRB|   NULL|       NULL|  188.2.118.131|          neutral|          NULL|Virgin America|                  NULL|       dhepburn|               NULL|                  0|@virginamerica We...|                NULL|24/2/2015 11:11| 5.7e+17|           San Diego|Pacific Time (US ...|
|           681448171|2/25/2015 04:09:55|          False|1575043188|              NULL|  2/25/2015 04:05:24|   False|     neodev|0.8125|  31560993|     VEN|     25|    Caracas|181.184.150.184|         positive|          NULL|Virgin America|                  NULL|     YupitsTate|               NULL|                  0|@VirginAmerica it...|                NULL|24/2/2015 10:53| 5.7e+17|         Los Angeles|Eastern Time (US ...|
|           681448174|2/25/2015 08:34:21|          False|1575237294|              NULL|  2/25/2015 08:28:20|   False|     neodev|0.8108|  28375885|     ESP|     39|Torrelavega|   92.57.58.253|          neutral|          NULL|Virgin America|                  NULL|idk_but_youtube|               NULL|                  0|@VirginAmerica di...|                NULL|24/2/2015 10:48| 5.7e+17|     1/1 loner squad|Eastern Time (US ...|
|           681448184|2/25/2015 03:11:28|          False|1574992338|              NULL|  2/25/2015 03:04:42|   False|  clixsense|0.9459|  28745592|     IDN|   NULL|       NULL| 118.97.212.185|         negative|          late|Virgin America|                  NULL|smartwatermelon|               NULL|                  0|@VirginAmerica SF...|                NULL|24/2/2015 10:01| 5.7e+17|       palo alto, ca|Pacific Time (US ...|
|           681448204|2/25/2015 05:46:20|          False|1575111942|              NULL|  2/25/2015 05:44:03|   False|  clixsense|0.8378|  21730089|     IND|     16|     Mumbai| 183.87.157.202|         negative| airplanestaff|Virgin America|                  NULL|    ayeevickiee|               NULL|                  0|@VirginAmerica yo...|                NULL| 24/2/2015 8:18| 5.7e+17|                 714|Mountain Time (US...|
|           681448206|2/25/2015 04:54:53|          False|1575074446|              NULL|  2/25/2015 04:53:05|   False|     neodev|0.9189|  27316712|     ARE|      1|  Abu Dhabi| 217.164.12.219|         negative|     CSProblem|Virgin America|                  NULL|        Leora13|               NULL|                  0|@VirginAmerica st...|                NULL| 24/2/2015 7:49| 5.7e+17|                NULL|                NULL|
|           681448221|2/25/2015 02:55:45|          False|1574977923|              NULL|  2/25/2015 02:45:45|   False|     neodev|0.8125|  31560993|     VEN|     25|    Caracas|181.184.150.184|          neutral|          NULL|Virgin America|                  NULL|   JCervantezzz|               NULL|                  0|@VirginAmerica Ar...|                NULL|23/2/2015 21:35| 5.7e+17|California, San F...|Pacific Time (US ...|
|           681448230|2/25/2015 02:07:15|          False|1574935613|              NULL|  2/25/2015 02:05:51|   False|     neodev|0.7353|  27922931|     ESP|   NULL|       NULL|    85.60.63.87|          neutral|          NULL|Virgin America|                  NULL|    miaerolinea|               NULL|                  0|Nice RT @VirginAm...|                NULL|23/2/2015 18:46| 5.7e+17|           Worldwide|             Caracas|
|           681448230|2/25/2015 02:08:15|          False|1574936618|              NULL|  2/25/2015 02:06:36|   False|     neodev|0.9459|  13923091|     IDN|     30|  Tangerang| 180.250.88.122|         positive|          NULL|Virgin America|                  NULL|    miaerolinea|               NULL|                  0|Nice RT @VirginAm...|                NULL|23/2/2015 18:46| 5.7e+17|           Worldwide|             Caracas|
|           681448230|2/25/2015 02:14:56|          False|1574942520|              NULL|  2/25/2015 02:05:50|   False|     neodev|0.8125|  31560993|     VEN|     25|    Caracas|181.184.150.184|          neutral|          NULL|Virgin America|                  NULL|    miaerolinea|               NULL|                  0|Nice RT @VirginAm...|                NULL|23/2/2015 18:46| 5.7e+17|           Worldwide|             Caracas|
|           681448239|2/25/2015 06:24:29|          False|1575142904|              NULL|  2/25/2015 06:20:21|   False|  clixsense|0.8649|  25864227|     IDN|      4|    Jakarta|     139.0.12.6|         positive|          NULL|Virgin America|                  NULL|      Nicsplace|               NULL|                  0|@VirginAmerica @f...|                NULL|23/2/2015 18:19| 5.7e+17|       Central Texas|                NULL|
|           681448245|2/25/2015 00:42:29|          False|1574843673|              NULL|  2/25/2015 00:39:32|   False|     neodev|0.8649|  28976121|     BIH|      1|   Sarajevo|  77.78.217.145|         positive|          NULL|Virgin America|                  NULL|jamesferrandini|               NULL|                  0|@VirginAmerica Vi...|                NULL|23/2/2015 17:32| 5.7e+17|                NULL|                NULL|
|           681448249|2/25/2015 06:24:47|          False|1575143085|              NULL|  2/25/2015 06:21:43|   False|     neodev|0.8919|  31130210|     IND|      2|  Hyderabad|  106.76.219.42|          neutral|          NULL|Virgin America|                  NULL|     GottAmanda|               NULL|                  0|@VirginAmerica pl...|[34.0219817, -118...|23/2/2015 16:24| 5.7e+17|         Los Angeles|                NULL|
|           681448256|2/25/2015 05:46:20|          False|1575111957|              NULL|  2/25/2015 05:39:49|   False|tremorgames|0.7568|  30608593|     HRV|     15|      Split| 95.178.215.195|         positive|          NULL|Virgin America|                  NULL|      arieldaie|               NULL|                  0|@VirginAmerica I'...|                NULL|23/2/2015 16:08| 5.7e+17|         Los Angeles|                NULL|
|           681448265|2/25/2015 03:22:53|          False|1575001607|              NULL|  2/25/2015 03:21:06|   False|  clixsense|0.8919|   6577739|     ITA|      7|       Rome|  151.25.75.239|          neutral|          NULL|Virgin America|                  NULL|    grantbrowne|               NULL|                  0|"@VirginAmerica I...|                NULL|23/2/2015 15:55| 5.7e+17|           Worldwide|Central Time (US ...|
+--------------------+------------------+---------------+----------+------------------+--------------------+--------+-----------+------+----------+--------+-------+-----------+---------------+-----------------+--------------+--------------+----------------------+---------------+-------------------+-------------------+--------------------+--------------------+---------------+--------+--------------------+--------------------+
only showing top 20 rows

Fill missing 'user_timezone' with mode

In [22]:
df_deduplicated = df_deduplicated.withColumn("user_timezone", when(col("user_timezone") == "NULL", None).otherwise(col("user_timezone")))

# mode of 'user_timezone'
mode_timezone = df_deduplicated.na.drop(subset=["user_timezone"]) \
                               .groupBy("user_timezone") \
                               .count() \
                               .orderBy("count", ascending=False) \
                               .first()["user_timezone"]

# fill missing values with the mode
df_deduplicated = df_deduplicated.na.fill({"user_timezone": mode_timezone})

# Count the number of rows that were filled
filled_rows_count = df_deduplicated.filter(col("user_timezone") == mode_timezone).count()

mode_timezone, filled_rows_count

('Eastern Time (US & Canada)', 34084)

In [21]:
df_deduplicated.show()

+--------------------+------------------+---------------+----------+------------------+--------------------+--------+-----------+------+----------+--------+-------+-----------+---------------+-----------------+--------------+--------------+----------------------+---------------+-------------------+-------------------+--------------------+--------------------+---------------+--------+--------------------+--------------------+
|            _unit_id|       _created_at|        _golden|       _id|           _missed|         _started_at|_tainted|   _channel|_trust|_worker_id|_country|_region|      _city|            _ip|airline_sentiment|negativereason|       airline|airline_sentiment_gold|           name|negativereason_gold|      retweet_count|                text|         tweet_coord|  tweet_created|tweet_id|      tweet_location|       user_timezone|
+--------------------+------------------+---------------+----------+------------------+--------------------+--------+-----------+------+----------+--------+-------+-----------+---------------+-----------------+--------------+--------------+----------------------+---------------+-------------------+-------------------+--------------------+--------------------+---------------+--------+--------------------+--------------------+
|           #annoyed"|              NULL|19/2/2015 20:33|  5.69e+17|              NULL|                NULL|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|Eastern Time (US ...|
|         #flyunited"|              NULL|17/2/2015 18:22|  5.68e+17|              NULL|Atlantic Time (Ca...|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|Eastern Time (US ...|
|#wheelsup #JetBlu...|              NULL|24/2/2015 11:48|   5.7e+17|east brunswick, nj|Atlantic Time (Ca...|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|Eastern Time (US ...|
|....how about a 1...|              NULL|23/2/2015 11:12|   5.7e+17|              NULL|                NULL|    NULL|       NULL|  NULL|      NULL|    NULL|   NULL|       NULL|           NULL|             NULL|          NULL|          NULL|                  NULL|           NULL|               NULL|0.08358175375442939|                NULL|                NULL|           NULL|    NULL|                NULL|Eastern Time (US ...|
|           681448158|2/25/2015 03:05:28|          False|1574987372|              NULL|  2/25/2015 02:58:56|   False|    instagc|0.9524|  29411108|     USA|     OH|  Fairfield|    71.79.16.89|         negative|     badflight|Virgin America|                  NULL|       jnardino|               NULL|                  0|"@VirginAmerica i...|                NULL|24/2/2015 11:15| 5.7e+17|                NULL|Pacific Time (US ...|
|           681448169|2/25/2015 08:59:02|          False|1575255039|              NULL|  2/25/2015 08:57:46|   False|     neodev|0.8649|  11018419|     SRB|   NULL|       NULL|  188.2.118.131|          neutral|          NULL|Virgin America|                  NULL|       dhepburn|               NULL|                  0|@virginamerica We...|                NULL|24/2/2015 11:11| 5.7e+17|           San Diego|Pacific Time (US ...|
|           681448171|2/25/2015 04:09:55|          False|1575043188|              NULL|  2/25/2015 04:05:24|   False|     neodev|0.8125|  31560993|     VEN|     25|    Caracas|181.184.150.184|         positive|          NULL|Virgin America|                  NULL|     YupitsTate|               NULL|                  0|@VirginAmerica it...|                NULL|24/2/2015 10:53| 5.7e+17|         Los Angeles|Eastern Time (US ...|
|           681448174|2/25/2015 08:34:21|          False|1575237294|              NULL|  2/25/2015 08:28:20|   False|     neodev|0.8108|  28375885|     ESP|     39|Torrelavega|   92.57.58.253|          neutral|          NULL|Virgin America|                  NULL|idk_but_youtube|               NULL|                  0|@VirginAmerica di...|                NULL|24/2/2015 10:48| 5.7e+17|     1/1 loner squad|Eastern Time (US ...|
|           681448184|2/25/2015 03:11:28|          False|1574992338|              NULL|  2/25/2015 03:04:42|   False|  clixsense|0.9459|  28745592|     IDN|   NULL|       NULL| 118.97.212.185|         negative|          late|Virgin America|                  NULL|smartwatermelon|               NULL|                  0|@VirginAmerica SF...|                NULL|24/2/2015 10:01| 5.7e+17|       palo alto, ca|Pacific Time (US ...|
|           681448204|2/25/2015 05:46:20|          False|1575111942|              NULL|  2/25/2015 05:44:03|   False|  clixsense|0.8378|  21730089|     IND|     16|     Mumbai| 183.87.157.202|         negative| airplanestaff|Virgin America|                  NULL|    ayeevickiee|               NULL|                  0|@VirginAmerica yo...|                NULL| 24/2/2015 8:18| 5.7e+17|                 714|Mountain Time (US...|
|           681448206|2/25/2015 04:54:53|          False|1575074446|              NULL|  2/25/2015 04:53:05|   False|     neodev|0.9189|  27316712|     ARE|      1|  Abu Dhabi| 217.164.12.219|         negative|     CSProblem|Virgin America|                  NULL|        Leora13|               NULL|                  0|@VirginAmerica st...|                NULL| 24/2/2015 7:49| 5.7e+17|                NULL|Eastern Time (US ...|
|           681448221|2/25/2015 02:55:45|          False|1574977923|              NULL|  2/25/2015 02:45:45|   False|     neodev|0.8125|  31560993|     VEN|     25|    Caracas|181.184.150.184|          neutral|          NULL|Virgin America|                  NULL|   JCervantezzz|               NULL|                  0|@VirginAmerica Ar...|                NULL|23/2/2015 21:35| 5.7e+17|California, San F...|Pacific Time (US ...|
|           681448230|2/25/2015 02:07:15|          False|1574935613|              NULL|  2/25/2015 02:05:51|   False|     neodev|0.7353|  27922931|     ESP|   NULL|       NULL|    85.60.63.87|          neutral|          NULL|Virgin America|                  NULL|    miaerolinea|               NULL|                  0|Nice RT @VirginAm...|                NULL|23/2/2015 18:46| 5.7e+17|           Worldwide|             Caracas|
|           681448230|2/25/2015 02:08:15|          False|1574936618|              NULL|  2/25/2015 02:06:36|   False|     neodev|0.9459|  13923091|     IDN|     30|  Tangerang| 180.250.88.122|         positive|          NULL|Virgin America|                  NULL|    miaerolinea|               NULL|                  0|Nice RT @VirginAm...|                NULL|23/2/2015 18:46| 5.7e+17|           Worldwide|             Caracas|
|           681448230|2/25/2015 02:14:56|          False|1574942520|              NULL|  2/25/2015 02:05:50|   False|     neodev|0.8125|  31560993|     VEN|     25|    Caracas|181.184.150.184|          neutral|          NULL|Virgin America|                  NULL|    miaerolinea|               NULL|                  0|Nice RT @VirginAm...|                NULL|23/2/2015 18:46| 5.7e+17|           Worldwide|             Caracas|
|           681448239|2/25/2015 06:24:29|          False|1575142904|              NULL|  2/25/2015 06:20:21|   False|  clixsense|0.8649|  25864227|     IDN|      4|    Jakarta|     139.0.12.6|         positive|          NULL|Virgin America|                  NULL|      Nicsplace|               NULL|                  0|@VirginAmerica @f...|                NULL|23/2/2015 18:19| 5.7e+17|       Central Texas|Eastern Time (US ...|
|           681448245|2/25/2015 00:42:29|          False|1574843673|              NULL|  2/25/2015 00:39:32|   False|     neodev|0.8649|  28976121|     BIH|      1|   Sarajevo|  77.78.217.145|         positive|          NULL|Virgin America|                  NULL|jamesferrandini|               NULL|                  0|@VirginAmerica Vi...|                NULL|23/2/2015 17:32| 5.7e+17|                NULL|Eastern Time (US ...|
|           681448249|2/25/2015 06:24:47|          False|1575143085|              NULL|  2/25/2015 06:21:43|   False|     neodev|0.8919|  31130210|     IND|      2|  Hyderabad|  106.76.219.42|          neutral|          NULL|Virgin America|                  NULL|     GottAmanda|               NULL|                  0|@VirginAmerica pl...|[34.0219817, -118...|23/2/2015 16:24| 5.7e+17|         Los Angeles|Eastern Time (US ...|
|           681448256|2/25/2015 05:46:20|          False|1575111957|              NULL|  2/25/2015 05:39:49|   False|tremorgames|0.7568|  30608593|     HRV|     15|      Split| 95.178.215.195|         positive|          NULL|Virgin America|                  NULL|      arieldaie|               NULL|                  0|@VirginAmerica I'...|                NULL|23/2/2015 16:08| 5.7e+17|         Los Angeles|Eastern Time (US ...|
|           681448265|2/25/2015 03:22:53|          False|1575001607|              NULL|  2/25/2015 03:21:06|   False|  clixsense|0.8919|   6577739|     ITA|      7|       Rome|  151.25.75.239|          neutral|          NULL|Virgin America|                  NULL|    grantbrowne|               NULL|                  0|"@VirginAmerica I...|                NULL|23/2/2015 15:55| 5.7e+17|           Worldwide|Central Time (US ...|
+--------------------+------------------+---------------+----------+------------------+--------------------+--------+-----------+------+----------+--------+-------+-----------+---------------+-----------------+--------------+--------------+----------------------+---------------+-------------------+-------------------+--------------------+--------------------+---------------+--------+--------------------+--------------------+
only showing top 20 rows

## TASK 2

In [24]:
unique_negative_reasons = df_deduplicated.select("negativereason").distinct()
unique_negative_reasons.show(truncate=False)

+--------------+
|negativereason|
+--------------+
|longlines     |
|cancel        |
|lostluggae    |
|late          |
|booking       |
|CSProblem     |
|badflight     |
|canttell      |
|airplanestaff |
|damagedluggage|
|NULL          |
+--------------+

In [26]:
uique_airlines = df_deduplicated.select("airline").distinct()
uique_airlines.show(truncate=False)

+--------------+
|airline       |
+--------------+
|Delta         |
|Virgin America|
|United        |
|US Airways    |
|Southwest     |
|American      |
|NULL          |
+--------------+

In [28]:
null_count = df_deduplicated.filter(col("airline").isNull()).count()
null_string_count = df_deduplicated.filter(col("airline") == "NULL").count()
total_nulls = null_count + null_string_count
total_nulls

239

Since it is only 239 rows of 56022 imma drop that shit

In [29]:
df_deduplicated = df_deduplicated.filter((col("airline").isNotNull()) & (col("airline") != "NULL"))

In [31]:
from pyspark.sql.functions import count, collect_list, udf
from pyspark.sql.types import ArrayType, StringType

def top_n_reasons(reasons, counts, n=5):
    return [reason for reason, count in sorted(zip(reasons, counts), key=lambda x: x[1], reverse=True)[:n]]

top_n_udf = udf(top_n_reasons, ArrayType(StringType()))

top_neg_reasons = df_deduplicated.groupBy('airline', 'negativereason') \
    .agg(count('negativereason').alias('reason_count'))

# Group by airline again to collect all reasons and counts into lists
airline_reasons = top_neg_reasons.groupBy('airline') \
    .agg(collect_list('negativereason').alias('all_reasons'), 
         collect_list('reason_count').alias('all_counts'))

# top 5 reasons for each airline
top_5_neg_reasons = airline_reasons.withColumn('top_5_reasons', top_n_udf('all_reasons', 'all_counts'))

top_5_neg_reasons.select('airline', 'top_5_reasons').show(truncate=False)

+--------------+---------------------------------------------------------------+
|airline       |top_5_reasons                                                  |
+--------------+---------------------------------------------------------------+
|Delta         |[damagedluggage, lostluggae, airplanestaff, booking, longlines]|
|Virgin America|[late, damagedluggage, booking, airplanestaff, cancel]         |
|United        |[CSProblem, booking, canttell, badflight, damagedluggage]      |
|US Airways    |[late, canttell, cancel, CSProblem, booking]                   |
|Southwest     |[CSProblem, cancel, canttell, badflight, lostluggae]           |
|American      |[late, cancel, canttell, airplanestaff, lostluggae]            |
+--------------+---------------------------------------------------------------+