In [1]:
import json
import os

import dask.dataframe as dd
import geopandas as gpd
import numpy as np
import pandas as pd
import pyproj
import pyspark.sql.functions as F
from dask.diagnostics import ProgressBar
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import regexp_extract
from pyspark.sql.types import StructType, StructField, LongType
from scipy.spatial import cKDTree
from shapely.geometry import Point

from util import load_data

DATA_DIR = "data"
PROCESSED_CSV_DIR = os.path.join(DATA_DIR, "processed")

c:\Users\chris\.virtualenvs\INF2006_Project-nqUEgnij\lib\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
spark = (
    SparkSession.builder.appName("Airline Twitter Sentiment Analysis")
    .config("spark.driver.memory", "8g")
    .getOrCreate()
)

In [3]:
PROCESSED_CSV = [
    os.path.join(PROCESSED_CSV_DIR, file)
    for file in os.listdir(PROCESSED_CSV_DIR)
    if file.endswith(".csv")
]

In [4]:
df = spark.read.csv(PROCESSED_CSV, header=True, inferSchema=True)

In [5]:
df.show()

+--------+---------+-------------------+-------+----------+-------+-------------------+-----------+------+----------+--------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+
|_country| _unit_id|        _created_at|_golden|       _id|_missed|        _started_at|   _channel|_trust|_worker_id|           _ip|airline_sentiment|       airline|           name|retweet_count|                text|tweet_coord|      tweet_created|tweet_id|      tweet_location|       user_timezone|negativereason1|negativereason2|
+--------+---------+-------------------+-------+----------+-------+-------------------+-----------+------+----------+--------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+
|     POL|681462578|2015-03-04 09:26:00|  false|1575274125|  false|2015-03-04 09:23:00|     neodev|0.8125|  28627206|  83.15.137.64|         negative|    US Airways|      AYoungWVU|            0|@USAirways Thanks...|       NULL|2015-02-18 19:08:00| 5.68E17|     Scott Depot, WV|Eastern Time (US ...|      CSProblem|        Unknown|
|     POL|681457574|2015-03-04 01:20:00|  false|1574893639|  false|2015-03-04 01:18:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|         Delta| Blacknificence|            0|We didn't need th...|       NULL|2015-02-23 11:19:00|  5.7E17|           Vuhginyah|Central Time (US ...|      badflight|        Unknown|
|     POL|681459873|2015-03-04 01:20:00|  false|1574893641|  false|2015-03-04 01:18:00|tremorgames| 0.875|  21953375| 89.76.224.241|          neutral|         Delta|       CBarrows|            0|@JetBlue Call me ...| [0.0, 0.0]|2015-02-17 14:12:00| 5.68E17|           Wayne, NJ|Eastern Time (US ...|        Unknown|        Unknown|
|     POL|681453919|2015-02-28 09:53:00|  false|1575293767|  false|2015-02-28 09:50:00|      elite|0.9286|  31163422|87.205.163.116|          neutral|        United|         CWWMUK|            0|@united ok, I hav...|       NULL|2015-02-17 23:30:00| 5.68E17|North West of Eng...|Eastern Time (US ...|        Unknown|        Unknown|
|     POL|681472920|2015-03-03 09:15:00|   true|1575266268|   true|2015-03-03 09:12:00|     neodev|0.8125|  28627206|  83.15.137.64|         negative|         Delta|   DetroitRonin|            0|@DeltaAssist now ...|       NULL|2015-03-03 10:49:00|  5.7E17|            Thataway|Eastern Time (US ...|      CSProblem|        Unknown|
|     POL|681679380|2015-02-28 19:06:00|  false|1575784801|  false|2015-02-28 19:04:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|      Eleonora7|            0|@AmericanAir canc...|       NULL|2015-02-22 16:14:00|  5.7E17|        New York, NY|Eastern Time (US ...|         cancel|        Unknown|
|     POL|681679380|2015-03-01 19:06:00|  false|1575784801|  false|2015-03-01 19:04:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|      Eleonora7|            0|@AmericanAir canc...|       NULL|2015-02-22 16:14:00|  5.7E17|        New York, NY|Eastern Time (US ...|         cancel|        Unknown|
|     POL|681455339|2015-03-01 01:10:00|   true|1574878979|  false|2015-03-01 01:08:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|     Southwest|         HDTeem|            0|@SouthwestAir I'v...|       NULL|2015-02-21 09:00:00| 5.69E17|     Baton Rouge, LA|Central Time (US ...|      CSProblem|        Unknown|
|     POL|681678132|2015-03-01 19:02:00|  false|1575778121|  false|2015-03-01 19:01:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|   IlyssaPanitz|            0|@AmericanAir why ...|       NULL|2015-02-23 13:21:00|  5.7E17|        New York, NY|Central Time (US ...|  airplanestaff|        Unknown|
|     POL|681679030|2015-03-02 19:04:00|  false|1575781904|  false|2015-03-02 19:03:00|     neodev|0.8421|  28627206|   89.72.74.50|          neutral|      American| JulianaSheldon|            0|@AmericanAir she ...|       NULL|2015-02-22 19:21:00|  5.7E17|     Los Angeles, CA|Pacific Time (US ...|        Unknown|        Unknown|
|     POL|681450146|2015-02-27 09:45:00|   true|1575287622|  false|2015-02-27 09:41:00|      elite|0.9286|  31163422|87.205.163.116|         negative|        United|MrEschatologist|            0|@united I'm aware...|       NULL|2015-02-23 05:29:00|  5.7E17|       Arlington, VA|Eastern Time (US ...|           late|  airplanestaff|
|     LVA|681450146|2015-03-01 09:59:00|   true|1575298129|   true|2015-03-01 09:55:00|  clixsense|   0.7|   6356857| 46.109.236.31|         negative|        United|MrEschatologist|            0|@united I'm aware...|       NULL|2015-02-23 05:29:00|  5.7E17|       Arlington, VA|Eastern Time (US ...|           late|  airplanestaff|
|     POL|681678807|2015-02-25 19:06:00|  false|1575784803|  false|2015-02-25 19:04:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|    PiersDenney|            0|@AmericanAir No i...|       NULL|2015-02-23 00:11:00|  5.7E17| Kansas City, MO USA|Central Time (US ...|       canttell|        Unknown|
|     POL|681677608|2015-03-02 19:04:00|  false|1575781908|  false|2015-03-02 19:03:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|    SamuelMondo|            0|@AmericanAir is i...|       NULL|2015-03-02 03:11:00|  5.7E17|          Manchester|              London| damagedluggage|        Unknown|
|     POL|681448410|2015-03-06 10:00:00|  false|1575298947|  false|2015-03-06 09:57:00|      elite|0.9286|  31163422|87.205.163.116|         positive|Virgin America|     SkateMamas|            0|@VirginAmerica an...|       NULL|2015-02-23 00:35:00|  5.7E17|     Los Angeles, CA|Eastern Time (US ...|        Unknown|        Unknown|
|     POL|681452591|2015-02-25 09:50:00|  false|1575291255|  false|2015-02-25 09:45:00|      elite|0.9286|  31163422|87.205.163.116|         negative|        United|     TaylorWoot|            0|@United wind chil...|       NULL|2015-02-20 08:33:00| 5.69E17|           Easley SC|Eastern Time (US ...|     lostluggae|        Unknown|
|     POL|681460880|2015-03-02 09:26:00|  false|1575274117|  false|2015-03-02 09:23:00|     neodev|0.8125|  28627206|  83.15.137.64|         positive|    US Airways|  TeaMontgomery|            0|@USAirways is alr...|       NULL|2015-02-23 05:24:00|  5.7E17|    Nube de la Reign|Eastern Time (US ...|        Unknown|        Unknown|
|     POL|681452200|2015-02-27 10:00:00|  false|1575298941|  false|2015-02-27 09:57:00|      elite|0.9286|  31163422|87.205.163.116|         negative|        United|         The_CW|            0|@united my flight...|       NULL|2015-02-20 18:39:00| 5.69E17| Ho-Flo/Columbus/NYC|Central Time (US ...|  airplanestaff|        Unknown|
|     POL|681454173|2015-03-06 01:13:00|  false|1574884315|  false|2015-03-06 01:10:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|        United|Tony_Ciccolella|            0|@united plus you ...|       NULL|2015-02-17 12:58:00| 5.68E17|       Brentwood, CA|Pacific Time (US ...|      CSProblem|        Unknown|
|     POL|681455009|2015-02-28 01:20:00|  false|1574893634|  false|2015-02-28 01:18:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|     Southwest|       amybeckr|            0|@SouthwestAir I h...|       NULL|2015-02-22 09:07:00|  5.7E17|                Ohio|               Quito|      CSProblem|        Unknown|
+--------+---------+-------------------+-------+----------+-------+-------------------+-----------+------+----------+--------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- _country: string (nullable = true)
 |-- _unit_id: integer (nullable = true)
 |-- _created_at: timestamp (nullable = true)
 |-- _golden: boolean (nullable = true)
 |-- _id: integer (nullable = true)
 |-- _missed: boolean (nullable = true)
 |-- _started_at: timestamp (nullable = true)
 |-- _channel: string (nullable = true)
 |-- _trust: double (nullable = true)
 |-- _worker_id: integer (nullable = true)
 |-- _ip: string (nullable = true)
 |-- airline_sentiment: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- name: string (nullable = true)
 |-- retweet_count: integer (nullable = true)
 |-- text: string (nullable = true)
 |-- tweet_coord: string (nullable = true)
 |-- tweet_created: timestamp (nullable = true)
 |-- tweet_id: double (nullable = true)
 |-- tweet_location: string (nullable = true)
 |-- user_timezone: string (nullable = true)
 |-- negativereason1: string (nullable = true)
 |-- negativereason2: string (nullable = true)

In [7]:
df = df.withColumn(
    "latitude",
    F.when(F.col("tweet_coord").isNotNull(), F.split(F.col("tweet_coord"), ",")[0])
    .otherwise(None)
    .cast("double"),
).withColumn(
    "longitude",
    F.when(F.col("tweet_coord").isNotNull(), F.split(F.col("tweet_coord"), ",")[1])
    .otherwise(None)
    .cast("double"),
)

In [8]:
pattern = r"([\+-]?\d+(?:\.\d+)?),\s?([\+-]?\d+(?:\.\d+)?)"
df = df.withColumn(
    "latitude",
    F.when(
        F.col("tweet_coord").isNull() & F.col("tweet_location").isNotNull(),
        regexp_extract(
            F.col("tweet_location"), pattern, 1
        ),
    ).otherwise(F.col("latitude")).cast("double")
).withColumn(
    "longitude",
    F.when(
        F.col("tweet_coord").isNull() & F.col("tweet_location").isNotNull(),
        regexp_extract(
            F.col("tweet_location"), pattern, 2
        ),
    ).otherwise(F.col("longitude")).cast("double")
)

In [9]:
# Keep this for the join.
indexed = df.withColumn(
    "index",
    F.monotonically_increasing_id(),
)

In [8]:
df = df.dropDuplicates()

In [ ]:
pddf = df.toPandas()

In [11]:
latlong_df = indexed.filter(F.col("latitude").isNotNull() & F.col("longitude").isNotNull())

In [12]:
latlong_pddf = latlong_df.select("index", "latitude", "longitude").toPandas()

In [13]:
with open(os.path.join(DATA_DIR, "cities.json"), "r", encoding="utf-8") as f:
    cities = json.load(f)
    cities = pd.DataFrame.from_records(cities, index="id")

with open(os.path.join(DATA_DIR, "countries.json"), "r", encoding="utf-8") as f:
    countries = json.load(f)
    for country in countries:
        del country["timezones"]
        del country["translations"]
    countries = pd.DataFrame.from_records(countries, index="id")
    countries["longitude"] = cities["longitude"].astype(float)
    countries["latitude"] = cities["latitude"].astype(float)

with open(os.path.join(DATA_DIR, "states.json"), "r", encoding="utf-8") as f:
    states = json.load(f)
    states = pd.DataFrame.from_records(states, index="id")

In [12]:
def get_distance(p1: Point, p2: Point, crs: int = 4326) -> float:
    geo_df = gpd.GeoDataFrame({"geometry": [p1, p2]})
    crs = pyproj.crs.CRS.from_user_input(crs)
    geo_df.set_crs(crs, inplace=True)
    p1 = geo_df.iloc[0].values
    p2 = geo_df.iloc[1].values
    geod = geo_df.crs.get_geod()
    dist = geod.inv(p1.x, p1.y, p2.x, p2.y)[2] # distance in metres
    return dist

In [13]:
def get_nearest_neighbour(row: pd.Series, countries_df: pd.DataFrame, max_dist: float = 25e5) -> str:
    origin = Point(row["longitude"], row["latitude"])
    closest_country = None
    closest_distance = np.inf
    for index, country_row in countries_df.iterrows():
        lat = country_row["latitude"]
        long = country_row["longitude"]
        country_coords = Point(long, lat)
        dist = get_distance(origin, country_coords)
        if dist < closest_distance and dist <= max_dist:
            closest_distance = dist
            closest_country = country_row["iso3"]
    return closest_country

In [29]:
def ckdnearest(gdA, gdB, threshold):
    nA = np.array(list(gdA.geometry.apply(lambda x: (x.x, x.y))))
    nB = np.array(list(gdB.geometry.apply(lambda x: (x.x, x.y))))
    btree = cKDTree(nB)
    print(
        np.isnan(nA).any(),
        np.isnan(nB).any(),
        np.any(np.isinf(nA)),
        np.any(np.isinf(nB)),
    )
    dist, idx = btree.query(nA, k=1, distance_upper_bound=threshold)
    gdB_nearest = gdB.iloc[[i - 1 for i in idx]].reset_index(drop=True)
    gdA = gdA.reset_index(drop=True)
    gdA["distance"] = dist
    return gdA[gdA["distance"] <= threshold], gdB_nearest[gdA["distance"] <= threshold]

In [15]:
gdf = gpd.GeoDataFrame(latlong_pddf, geometry=latlong_pddf.apply(
    lambda row: Point(row["longitude"], row["latitude"]), axis=1
))
countries_gdf = gpd.GeoDataFrame(countries, geometry=countries.apply(
    lambda row: Point(row["longitude"], row["latitude"]), axis=1
))

gdf.set_crs(epsg=4326, inplace=True)
countries_gdf.set_crs(epsg=4326, inplace=True)

,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,tld,...,region,region_id,subregion,subregion_id,nationality,latitude,longitude,emoji,emojiU,geometry
id,,,,,,,,,,,,,,,,,,,,,
1,Afghanistan,AFG,AF,004,93,Kabul,AFN,Afghan afghani,؋,.af,...,Asia,3,Southern Asia,14,Afghan,42.50779,1.52109,🇦🇫,U+1F1E6 U+1F1EB,POINT (1.52109 42.50779)
2,Aland Islands,ALA,AX,248,+358-18,Mariehamn,EUR,Euro,€,.ax,...,Europe,4,Northern Europe,18,Aland Island,42.57205,1.48453,🇦🇽,U+1F1E6 U+1F1FD,POINT (1.48453 42.57205)
3,Albania,ALB,AL,008,355,Tirana,ALL,Albanian lek,Lek,.al,...,Europe,4,Southern Europe,16,Albanian,42.56760,1.59756,🇦🇱,U+1F1E6 U+1F1F1,POINT (1.59756 42.56760)
4,Algeria,DZA,DZ,012,213,Algiers,DZD,Algerian dinar,دج,.dz,...,Africa,1,Northern Africa,1,Algerian,42.57952,1.65362,🇩🇿,U+1F1E9 U+1F1FF,POINT (1.65362 42.57952)
5,American Samoa,ASM,AS,016,+1-684,Pago Pago,USD,US Dollar,$,.as,...,Oceania,5,Polynesia,22,American Samoan,42.53474,1.58014,🇦🇸,U+1F1E6 U+1F1F8,POINT (1.58014 42.53474)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Wallis and Futuna Islands,WLF,WF,876,681,Mata Utu,XPF,CFP franc,₣,.wf,...,Oceania,5,Polynesia,22,"Wallis and Futuna, Wallisian or Futunan",41.50000,20.33333,🇼🇫,U+1F1FC U+1F1EB,POINT (20.33333 41.50000)
244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,.eh,...,Africa,1,Northern Africa,1,"Sahrawi, Sahrawian, Sahraouian",39.91667,20.08333,🇪🇭,U+1F1EA U+1F1ED,POINT (20.08333 39.91667)
245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,﷼,.ye,...,Asia,3,Western Asia,11,Yemeni,40.58333,20.91667,🇾🇪,U+1F1FE U+1F1EA,POINT (20.91667 40.58333)
246,Zambia,ZMB,ZM,894,260,Lusaka,ZMW,Zambian kwacha,ZK,.zm,...,Africa,1,Eastern Africa,4,Zambian,41.75000,20.33333,🇿🇲,U+1F1FF U+1F1F2,POINT (20.33333 41.75000)
247,Zimbabwe,ZWE,ZW,716,263,Harare,ZWL,Zimbabwe Dollar,$,.zw,...,Africa,1,Eastern Africa,4,Zimbabwean,42.16667,20.33333,🇿🇼,U+1F1FF U+1F1FC,POINT (20.33333 42.16667)

In [48]:
near_df, near_countries = ckdnearest(
    gdf, countries_gdf, threshold=30
)

False False False False

In [49]:
near_countries.reset_index(inplace=True, names="join_idx")

In [50]:
near_df.reset_index(inplace=True, names="join_idx")

In [51]:
# Join the dfs by index
result = pd.merge(near_df, near_countries[["join_idx", "iso3"]], how="left")

In [52]:
result

,join_idx,index,latitude,longitude,geometry,distance,iso3
0,0,27,40.965130,-73.872957,POINT (-73.87296 40.96513),26.255009,FSM
1,2,155,40.965130,-73.872957,POINT (-73.87296 40.96513),26.255009,FSM
2,4,235,42.706796,-71.210754,POINT (-71.21075 42.70680),26.769662,FSM
3,5,330,38.961334,-77.006119,POINT (-77.00612 38.96133),26.174363,FSM
4,6,374,18.463449,-70.003608,POINT (-70.00361 18.46345),8.212341,FSM
...,...,...,...,...,...,...,...
6655,8455,266287973006,41.233943,-74.396666,POINT (-74.39667 41.23394),26.736237,FSM
6656,8456,266287973075,40.965130,-73.872957,POINT (-73.87296 40.96513),26.255009,FSM
6657,8457,266287973076,40.965130,-73.872957,POINT (-73.87296 40.96513),26.255009,FSM
6658,8458,266287973104,50.079998,14.441111,POINT (14.44111 50.08000),9.272751,PHL
6659,8459,266287973183,40.965130,-73.872957,POINT (-73.87296 40.96513),26.255009,FSM

In [53]:
latlong_pddf = result[["index", "iso3"]]

In [54]:
latlong_df = spark.createDataFrame(latlong_pddf)

In [55]:
indexed = indexed.join(latlong_df, on="index", how="left")

In [56]:
indexed.show()

+-----+--------+---------+-------------------+-------+----------+-------+-------------------+-----------+------+----------+--------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+----+
|index|_country| _unit_id|        _created_at|_golden|       _id|_missed|        _started_at|   _channel|_trust|_worker_id|           _ip|airline_sentiment|       airline|           name|retweet_count|                text|tweet_coord|      tweet_created|tweet_id|      tweet_location|       user_timezone|negativereason1|negativereason2|latitude|longitude|iso3|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+-----------+------+----------+--------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+----+
|   19|     POL|681455009|2015-02-28 01:20:00|  false|1574893634|  false|2015-02-28 01:18:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|     Southwest|       amybeckr|            0|@SouthwestAir I h...|       NULL|2015-02-22 09:07:00|  5.7E17|                Ohio|               Quito|      CSProblem|        Unknown|    NULL|     NULL|NULL|
|    0|     POL|681462578|2015-03-04 09:26:00|  false|1575274125|  false|2015-03-04 09:23:00|     neodev|0.8125|  28627206|  83.15.137.64|         negative|    US Airways|      AYoungWVU|            0|@USAirways Thanks...|       NULL|2015-02-18 19:08:00| 5.68E17|     Scott Depot, WV|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|
|    7|     POL|681455339|2015-03-01 01:10:00|   true|1574878979|  false|2015-03-01 01:08:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|     Southwest|         HDTeem|            0|@SouthwestAir I'v...|       NULL|2015-02-21 09:00:00| 5.69E17|     Baton Rouge, LA|Central Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|
|    6|     POL|681679380|2015-03-01 19:06:00|  false|1575784801|  false|2015-03-01 19:04:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|      Eleonora7|            0|@AmericanAir canc...|       NULL|2015-02-22 16:14:00|  5.7E17|        New York, NY|Eastern Time (US ...|         cancel|        Unknown|    NULL|     NULL|NULL|
|    9|     POL|681679030|2015-03-02 19:04:00|  false|1575781904|  false|2015-03-02 19:03:00|     neodev|0.8421|  28627206|   89.72.74.50|          neutral|      American| JulianaSheldon|            0|@AmericanAir she ...|       NULL|2015-02-22 19:21:00|  5.7E17|     Los Angeles, CA|Pacific Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|
|   17|     POL|681452200|2015-02-27 10:00:00|  false|1575298941|  false|2015-02-27 09:57:00|      elite|0.9286|  31163422|87.205.163.116|         negative|        United|         The_CW|            0|@united my flight...|       NULL|2015-02-20 18:39:00| 5.69E17| Ho-Flo/Columbus/NYC|Central Time (US ...|  airplanestaff|        Unknown|    NULL|     NULL|NULL|
|    5|     POL|681679380|2015-02-28 19:06:00|  false|1575784801|  false|2015-02-28 19:04:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|      Eleonora7|            0|@AmericanAir canc...|       NULL|2015-02-22 16:14:00|  5.7E17|        New York, NY|Eastern Time (US ...|         cancel|        Unknown|    NULL|     NULL|NULL|
|    1|     POL|681457574|2015-03-04 01:20:00|  false|1574893639|  false|2015-03-04 01:18:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|         Delta| Blacknificence|            0|We didn't need th...|       NULL|2015-02-23 11:19:00|  5.7E17|           Vuhginyah|Central Time (US ...|      badflight|        Unknown|    NULL|     NULL|NULL|
|   10|     POL|681450146|2015-02-27 09:45:00|   true|1575287622|  false|2015-02-27 09:41:00|      elite|0.9286|  31163422|87.205.163.116|         negative|        United|MrEschatologist|            0|@united I'm aware...|       NULL|2015-02-23 05:29:00|  5.7E17|       Arlington, VA|Eastern Time (US ...|           late|  airplanestaff|    NULL|     NULL|NULL|
|    3|     POL|681453919|2015-02-28 09:53:00|  false|1575293767|  false|2015-02-28 09:50:00|      elite|0.9286|  31163422|87.205.163.116|          neutral|        United|         CWWMUK|            0|@united ok, I hav...|       NULL|2015-02-17 23:30:00| 5.68E17|North West of Eng...|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|
|   12|     POL|681678807|2015-02-25 19:06:00|  false|1575784803|  false|2015-02-25 19:04:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|    PiersDenney|            0|@AmericanAir No i...|       NULL|2015-02-23 00:11:00|  5.7E17| Kansas City, MO USA|Central Time (US ...|       canttell|        Unknown|    NULL|     NULL|NULL|
|    8|     POL|681678132|2015-03-01 19:02:00|  false|1575778121|  false|2015-03-01 19:01:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|   IlyssaPanitz|            0|@AmericanAir why ...|       NULL|2015-02-23 13:21:00|  5.7E17|        New York, NY|Central Time (US ...|  airplanestaff|        Unknown|    NULL|     NULL|NULL|
|   11|     LVA|681450146|2015-03-01 09:59:00|   true|1575298129|   true|2015-03-01 09:55:00|  clixsense|   0.7|   6356857| 46.109.236.31|         negative|        United|MrEschatologist|            0|@united I'm aware...|       NULL|2015-02-23 05:29:00|  5.7E17|       Arlington, VA|Eastern Time (US ...|           late|  airplanestaff|    NULL|     NULL|NULL|
|    2|     POL|681459873|2015-03-04 01:20:00|  false|1574893641|  false|2015-03-04 01:18:00|tremorgames| 0.875|  21953375| 89.76.224.241|          neutral|         Delta|       CBarrows|            0|@JetBlue Call me ...| [0.0, 0.0]|2015-02-17 14:12:00| 5.68E17|           Wayne, NJ|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|
|    4|     POL|681472920|2015-03-03 09:15:00|   true|1575266268|   true|2015-03-03 09:12:00|     neodev|0.8125|  28627206|  83.15.137.64|         negative|         Delta|   DetroitRonin|            0|@DeltaAssist now ...|       NULL|2015-03-03 10:49:00|  5.7E17|            Thataway|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|
|   13|     POL|681677608|2015-03-02 19:04:00|  false|1575781908|  false|2015-03-02 19:03:00|     neodev|0.8421|  28627206|   89.72.74.50|         negative|      American|    SamuelMondo|            0|@AmericanAir is i...|       NULL|2015-03-02 03:11:00|  5.7E17|          Manchester|              London| damagedluggage|        Unknown|    NULL|     NULL|NULL|
|   18|     POL|681454173|2015-03-06 01:13:00|  false|1574884315|  false|2015-03-06 01:10:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|        United|Tony_Ciccolella|            0|@united plus you ...|       NULL|2015-02-17 12:58:00| 5.68E17|       Brentwood, CA|Pacific Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|
|   14|     POL|681448410|2015-03-06 10:00:00|  false|1575298947|  false|2015-03-06 09:57:00|      elite|0.9286|  31163422|87.205.163.116|         positive|Virgin America|     SkateMamas|            0|@VirginAmerica an...|       NULL|2015-02-23 00:35:00|  5.7E17|     Los Angeles, CA|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|
|   15|     POL|681452591|2015-02-25 09:50:00|  false|1575291255|  false|2015-02-25 09:45:00|      elite|0.9286|  31163422|87.205.163.116|         negative|        United|     TaylorWoot|            0|@United wind chil...|       NULL|2015-02-20 08:33:00| 5.69E17|           Easley SC|Eastern Time (US ...|     lostluggae|        Unknown|    NULL|     NULL|NULL|
|   20|     POL|681455800|2015-03-03 01:18:00|  false|1574892251|  false|2015-03-03 01:17:00|tremorgames| 0.875|  21953375| 89.76.224.241|         negative|     Southwest|      bfitnbfab|            0|@SouthwestAir I f...|       NULL|2015-02-19 17:52:00| 5.69E17|    Philadelphia, PA|Eastern Time (US ...|      badflight|        Unknown|    NULL|     NULL|NULL|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+-----------+------+----------+--------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+----+
only showing top 20 rows

In [57]:
missing_iso3_df = indexed.filter(F.col("iso3").isNull())

In [58]:
missing_iso3_df.count()

373247

In [63]:
missing_iso3_df = missing_iso3_df.withColumn(
    "city",
    F.when(F.col("tweet_location").isNotNull(), F.split(F.col("tweet_location"), ",")[0]).otherwise(None)
)

In [64]:
cities.head()

,name,state_id,state_code,state_name,country_id,country_code,country_name,latitude,longitude,wikiDataId
id,,,,,,,,,,
52,Ashkāsham,3901,BDS,Badakhshan,1,AF,Afghanistan,36.68333000,71.53333000,Q4805192
68,Fayzabad,3901,BDS,Badakhshan,1,AF,Afghanistan,37.11664000,70.58002000,Q156558
78,Jurm,3901,BDS,Badakhshan,1,AF,Afghanistan,36.86477000,70.83421000,Q10308323
84,Khandūd,3901,BDS,Badakhshan,1,AF,Afghanistan,36.95127000,72.31800000,Q3290334
115,Rāghistān,3901,BDS,Badakhshan,1,AF,Afghanistan,37.66079000,70.67346000,Q2670909

In [60]:
cities_df = spark.createDataFrame(cities)

In [70]:
cities_df = cities_df.dropDuplicates(["name"])

In [73]:
cities_df.show()

+--------------------+--------+----------+--------------------+----------+------------+------------+------------+------------+----------+
|                name|state_id|state_code|          state_name|country_id|country_code|country_name|    latitude|   longitude|wikiDataId|
+--------------------+--------+----------+--------------------+----------+------------+------------+------------+------------+----------+
|       's-Heerenberg|    2611|        GE|          Gelderland|       156|          NL| Netherlands| 51.87670000|  6.25877000|   Q425810|
|            't Kabel|    2612|        NH|       North Holland|       156|          NL| Netherlands| 52.25610000|  4.64970000|  Q2152439|
|          25 de Mayo|    3217|        FD|             Florida|       235|          UY|     Uruguay|-34.18917000|-56.33944000|   Q218472|
|            Aagtdorp|    2612|        NH|       North Holland|       156|          NL| Netherlands| 52.68890000|  4.70190000|   Q584873|
|             Aarberg|    1645|        BE|                Bern|       214|          CH| Switzerland| 47.04439000|  7.27578000|   Q223920|
|          Aartselaar|    1373|       VLG|            Flanders|        22|          BE|     Belgium| 51.13412000|  4.38678000| Q21770026|
|              Ababuj|    5111|        TE|              Teruel|       207|          ES|       Spain| 40.54908000| -0.80758000|  Q1607619|
|             Abaiang|    1831|         G|     Gilbert Islands|       114|          KI|    Kiribati|  1.85293000|172.94369000|  Q2428308|
|              Abajas|    1146|        BU|              Burgos|       207|          ES|       Spain| 42.62310000| -3.58086000|   Q304757|
|             Abalama|    4926|        RI|              Rivers|       161|          NG|     Nigeria|  4.76305556|  6.84027778|  Q4663313|
|               Abana|    2197|        37|           Kastamonu|       225|          TR|      Turkey| 41.97858000| 34.01100000|  Q1027037|
|            Abanilla|    1176|        MU|              Murcia|       207|          ES|       Spain| 38.20537000| -1.04153000|  Q1635711|
|               Abapó|    3377|         S|Santa Cruz Depart...|        27|          BO|     Bolivia|-18.88279000|-63.38026000|   Q305531|
|            Abarkooh|    3936|        21|                Yazd|       103|          IR|        Iran| 31.12628100| 53.22159240|      NULL|
|Abaurregaina/Abau...|    1204|        NA|             Navarra|       207|          ES|       Spain|  0.00000000|  0.00000000|      NULL|
|                Abaí|    2775|         6|             Caazapá|       172|          PY|    Paraguay|-26.03333000|-55.93333000|  Q3481073|
|     Abbadia Lariana|    1705|        25|            Lombardy|       107|          IT|       Italy| 45.89947000|  9.33518000|   Q335596|
|            Abdulino|    1886|       ORE|     Orenburg Oblast|       182|          RU|      Russia| 53.70000000| 53.66667000|   Q102682|
|        Abelardo Luz|    2014|        SC|      Santa Catarina|        31|          BR|      Brazil|-26.59825000|-52.22321000|  Q1637506|
|        Aberglasslyn|    3909|       NSW|     New South Wales|        14|          AU|   Australia|-32.70000000|151.53333000|  Q4667103|
+--------------------+--------+----------+--------------------+----------+------------+------------+------------+------------+----------+
only showing top 20 rows

In [80]:
missing_iso3_df = missing_iso3_df.withColumn(
    "twitter_username",
    F.col("name")
).drop("name")

In [81]:
missing_iso3_df = missing_iso3_df.join(
    other=cities_df.select("name", "country_name"),
    on=(F.col("city") == F.col("name")),
    how="left",
).drop("name")

In [84]:
missing_iso3_df.show()

+-----+--------+---------+-------------------+-------+----------+-------+-------------------+---------+------+----------+---------------+-----------------+--------------+-------------+--------------------+--------------------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+----+--------------------+----------------+-------------+
|index|_country| _unit_id|        _created_at|_golden|       _id|_missed|        _started_at| _channel|_trust|_worker_id|            _ip|airline_sentiment|       airline|retweet_count|                text|         tweet_coord|      tweet_created|tweet_id|      tweet_location|       user_timezone|negativereason1|negativereason2|latitude|longitude|iso3|                city|twitter_username| country_name|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+---------+------+----------+---------------+-----------------+--------------+-------------+--------------------+--------------------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+----+--------------------+----------------+-------------+
| 2529|     VEN|681456231|2015-03-02 02:52:00|  false|1574975011|  false|2015-03-02 02:50:00|   neodev|0.7857|  31643183|  186.88.175.87|         positive|     Southwest|            0|@SouthwestAir I'v...|                NULL|2015-02-19 07:17:00| 5.68E17|    ?????o??   ????u|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|    ?????o??   ????u|    thirty_lives|         NULL|
| 2927|     BIH|681459109|2015-02-28 01:30:00|  false|1574902299|  false|2015-02-28 01:29:00|   neodev|0.8649|  28976121|  77.78.217.145|         positive|         Delta|            0|@JetBlue:  Ahoy f...|                NULL|2015-02-19 13:54:00| 5.69E17|          Everywhere|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|          Everywhere|       angrydesi|         NULL|
| 1697|     MEX|681679161|2015-03-05 19:32:00|  false|1575817417|  false|2015-03-05 19:21:00|    elite|0.9333|  28834224|189.131.137.204|         negative|      American|            0|@AmericanAir FYI ...|                NULL|2015-02-22 18:02:00|  5.7E17|     San Antonio, TX|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|         San Antonio|     NickLeghorn|    Argentina|
|  474|     ITA|681679167|2015-02-28 18:45:00|  false|1575752918|  false|2015-02-28 18:42:00|   neodev|  0.75|  27060459|  93.41.235.124|         negative|      American|            0|@AmericanAir I di...|                NULL|2015-02-22 18:00:00|  5.7E17|      Rossford, Ohio|Atlantic Time (Ca...|      CSProblem|        Unknown|    NULL|     NULL|NULL|            Rossford|  MatthewJMedlin|United States|
| 1677|     MEX|681448364|2015-02-26 03:17:00|  false|1574996981|  false|2015-02-26 03:12:00|   neodev|0.9259|  29044844|177.237.191.100|         negative|Virgin America|            0|@VirginAmerica Is...|                NULL|2015-02-23 09:25:00|  5.7E17|     Los Angeles, CA|             Arizona|      CSProblem|        Unknown|    NULL|     NULL|NULL|         Los Angeles|    MerchEngines|       Mexico|
| 3091|     BIH|681678022|2015-02-28 18:52:00|  false|1575762336|  false|2015-02-28 18:50:00|   neodev|0.9412|  28976121|  77.78.217.145|          neutral|      American|            0|@AmericanAir well...|                NULL|2015-02-23 15:06:00|  5.7E17|  Cambridge, MA, USA|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|           Cambridge|      leahstokes|    Australia|
|  964|     HRV|681466560|2015-03-02 01:28:00|   true|1574900356|  false|2015-03-02 01:17:00|   neodev|0.8108|  31088614| 141.136.187.90|         negative|      American|            0|@AmericanAir no r...|                NULL|2015-02-22 14:16:00|  5.7E17|           on @TheJR|               Seoul|      CSProblem|        Unknown|    NULL|     NULL|NULL|           on @TheJR|      salitron78|         NULL|
| 2214|     VEN|681452580|2015-03-06 01:45:00|  false|1574914473|  false|2015-03-06 01:42:00|   neodev|0.8378|  31525566|  190.37.127.73|         positive|        United|            0|       @united thnx!|                NULL|2015-02-20 08:51:00| 5.69E17| Alphen aan den Rijn|           Amsterdam|        Unknown|        Unknown|    NULL|     NULL|NULL| Alphen aan den Rijn|       Gouwerijn|  Netherlands|
| 2509|     VEN|681452471|2015-02-27 04:29:00|  false|1575058036|  false|2015-02-27 04:27:00|   neodev|0.7568|  31677304| 181.208.99.209|          neutral|        United|            0|@united I think y...|                NULL|2015-02-20 11:39:00| 5.69E17|       Cleveland, OH|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|           Cleveland|        shanp611|    Australia|
| 2040|     HUN|681464889|2015-03-06 02:52:00|   true|1574975430|  false|2015-03-06 02:49:00|clixsense|0.7143|  21564084| 77.111.175.216|         negative|      American|            0|@AmericanAir FYI....|[34.0213466, -118...|2015-02-23 11:38:00|  5.7E17|                NULL|Pacific Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|                NULL|       AyDiosMio|         NULL|
| 2453|     VEN|681448870|2015-02-26 04:17:00|  false|1575049713|  false|2015-02-26 04:13:00|   neodev|0.7692|  31310623|200.109.181.171|         positive|Virgin America|            0|@VirginAmerica ga...|                NULL|2015-02-19 07:19:00| 5.68E17|       San Francisco|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|       San Francisco|     marshman240|    Argentina|
| 4823|     MYS|681455339|2015-03-04 07:45:00|   true|1575200055|  false|2015-03-04 07:44:00|clixsense|0.9231|  31233495|175.136.216.211|         negative|     Southwest|            0|@SouthwestAir I'v...|                NULL|2015-02-21 09:00:00| 5.69E17|     Baton Rouge, LA|Central Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|         Baton Rouge|          HDTeem|United States|
| 2250|     VEN|681461003|2015-03-03 02:52:00|  false|1574975271|  false|2015-03-03 02:49:00|clixsense|0.8421|  30792295| 186.14.154.125|         negative|    US Airways|            0|@USAirways Just d...|          [0.0, 0.0]|2015-02-22 19:24:00|  5.7E17|Southeastern Penn...|Eastern Time (US ...|         cancel|        Unknown|    NULL|     NULL|NULL|Southeastern Penn...|    LarrySandeen|         NULL|
| 1806|     MEX|681675660|2015-02-28 19:21:00|   true|1575805219|  false|2015-02-28 19:02:00|    elite|0.9333|  28834224|189.131.137.204|         negative|         Delta|            0|@JetBlue time to ...|                NULL|2015-02-19 19:02:00| 5.69E17|          Austin, TX|Central Time (US ...|       canttell|        Unknown|    NULL|     NULL|NULL|              Austin|       cvsherman|United States|
|   26|     POL|681466725|2015-03-03 09:15:00|   true|1575266271|  false|2015-03-03 09:12:00|   neodev|0.8125|  28627206|   83.15.137.64|         positive|      American|            0|@AmericanAir Than...|                NULL|2015-02-22 12:50:00|  5.7E17|Caribbean, New Yo...|      Indiana (East)|        Unknown|        Unknown|    NULL|     NULL|NULL|           Caribbean|  douglaskgordon|         NULL|
| 4590|     ISR|681454965|2015-02-27 03:30:00|  false|1575007905|  false|2015-02-27 03:25:00|clixsense|0.9091|  10746059| 77.125.157.190|          neutral|     Southwest|            0|@SouthwestAir @Th...|                NULL|2015-02-22 12:35:00|  5.7E17|            Brooklyn|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|NULL|            Brooklyn|        hlirvine|    Australia|
| 3764|     USA|681679517|2015-02-25 18:53:00|  false|1575764184|  false|2015-02-25 18:50:00|  instagc|0.9259|  31184505|  98.159.201.23|         negative|      American|            1|@AmericanAir @NY_...|                NULL|2015-02-22 14:40:00|  5.7E17|                  UK|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|                  UK|  ProConPartners|         NULL|
| 4894|     MYS|681679662|2015-02-25 19:22:00|  false|1575806658|  false|2015-02-25 19:20:00|clixsense|   1.0|  30678282|  113.210.11.33|         negative|      American|            0|@AmericanAir @nao...|                NULL|2015-02-22 13:13:00|  5.7E17|               Pekin|Eastern Time (US ...|        booking|        Unknown|    NULL|     NULL|NULL|               Pekin|         otisday|United States|
| 3506|     PAK|681450511|2015-02-28 07:05:00|  false|1575169755|  false|2015-02-28 07:02:00|   neodev|0.9048|  30742644| 59.103.158.121|         negative|        United|            0|.@united I think ...|                NULL|2015-02-22 15:35:00|  5.7E17|            New York|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|NULL|            New York|          tunkuv|         NULL|
|   29|     POL|681675653|2015-02-25 18:56:00|   true|1575768289|  false|2015-02-25 18:48:00|clixsense|0.9091|  29114061|188.246.143.207|          neutral|     Southwest|            0|@SouthwestAir If ...|                NULL|2015-02-20 04:41:00| 5.69E17|              Denver|Mountain Time (US...|        Unknown|        Unknown|    NULL|     NULL|NULL|              Denver|        kalenski|United States|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+---------+------+----------+---------------+-----------------+--------------+-------------+--------------------+--------------------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+----+--------------------+----------------+-------------+
only showing top 20 rows

In [87]:
countries_df = spark.createDataFrame(countries)

In [88]:
missing_iso3_df = missing_iso3_df.drop("iso3").join(
    other=countries_df.select("iso3", "name"),
    on=(F.col("country_name") == F.col("name")),
    how="left"
).drop("name")

In [89]:
missing_iso3_df.show()

+-----+--------+---------+-------------------+-------+----------+-------+-------------------+------------+------+----------+---------------+-----------------+--------------+-------------+--------------------+--------------------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+--------------------+----------------+-------------+----+
|index|_country| _unit_id|        _created_at|_golden|       _id|_missed|        _started_at|    _channel|_trust|_worker_id|            _ip|airline_sentiment|       airline|retweet_count|                text|         tweet_coord|      tweet_created|tweet_id|      tweet_location|       user_timezone|negativereason1|negativereason2|latitude|longitude|                city|twitter_username| country_name|iso3|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+------------+------+----------+---------------+-----------------+--------------+-------------+--------------------+--------------------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+--------------------+----------------+-------------+----+
| 2529|     VEN|681456231|2015-03-02 02:52:00|  false|1574975011|  false|2015-03-02 02:50:00|      neodev|0.7857|  31643183|  186.88.175.87|         positive|     Southwest|            0|@SouthwestAir I'v...|                NULL|2015-02-19 07:17:00| 5.68E17|    ?????o??   ????u|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|    ?????o??   ????u|    thirty_lives|         NULL|NULL|
| 2927|     BIH|681459109|2015-02-28 01:30:00|  false|1574902299|  false|2015-02-28 01:29:00|      neodev|0.8649|  28976121|  77.78.217.145|         positive|         Delta|            0|@JetBlue:  Ahoy f...|                NULL|2015-02-19 13:54:00| 5.69E17|          Everywhere|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|          Everywhere|       angrydesi|         NULL|NULL|
|  964|     HRV|681466560|2015-03-02 01:28:00|   true|1574900356|  false|2015-03-02 01:17:00|      neodev|0.8108|  31088614| 141.136.187.90|         negative|      American|            0|@AmericanAir no r...|                NULL|2015-02-22 14:16:00|  5.7E17|           on @TheJR|               Seoul|      CSProblem|        Unknown|    NULL|     NULL|           on @TheJR|      salitron78|         NULL|NULL|
| 2040|     HUN|681464889|2015-03-06 02:52:00|   true|1574975430|  false|2015-03-06 02:49:00|   clixsense|0.7143|  21564084| 77.111.175.216|         negative|      American|            0|@AmericanAir FYI....|[34.0213466, -118...|2015-02-23 11:38:00|  5.7E17|                NULL|Pacific Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|                NULL|       AyDiosMio|         NULL|NULL|
| 2250|     VEN|681461003|2015-03-03 02:52:00|  false|1574975271|  false|2015-03-03 02:49:00|   clixsense|0.8421|  30792295| 186.14.154.125|         negative|    US Airways|            0|@USAirways Just d...|          [0.0, 0.0]|2015-02-22 19:24:00|  5.7E17|Southeastern Penn...|Eastern Time (US ...|         cancel|        Unknown|    NULL|     NULL|Southeastern Penn...|    LarrySandeen|         NULL|NULL|
|   26|     POL|681466725|2015-03-03 09:15:00|   true|1575266271|  false|2015-03-03 09:12:00|      neodev|0.8125|  28627206|   83.15.137.64|         positive|      American|            0|@AmericanAir Than...|                NULL|2015-02-22 12:50:00|  5.7E17|Caribbean, New Yo...|      Indiana (East)|        Unknown|        Unknown|    NULL|     NULL|           Caribbean|  douglaskgordon|         NULL|NULL|
| 3764|     USA|681679517|2015-02-25 18:53:00|  false|1575764184|  false|2015-02-25 18:50:00|     instagc|0.9259|  31184505|  98.159.201.23|         negative|      American|            1|@AmericanAir @NY_...|                NULL|2015-02-22 14:40:00|  5.7E17|                  UK|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|                  UK|  ProConPartners|         NULL|NULL|
| 3506|     PAK|681450511|2015-02-28 07:05:00|  false|1575169755|  false|2015-02-28 07:02:00|      neodev|0.9048|  30742644| 59.103.158.121|         negative|        United|            0|.@united I think ...|                NULL|2015-02-22 15:35:00|  5.7E17|            New York|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|            New York|          tunkuv|         NULL|NULL|
| 1697|     MEX|681679161|2015-03-05 19:32:00|  false|1575817417|  false|2015-03-05 19:21:00|       elite|0.9333|  28834224|189.131.137.204|         negative|      American|            0|@AmericanAir FYI ...|                NULL|2015-02-22 18:02:00|  5.7E17|     San Antonio, TX|Eastern Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|         San Antonio|     NickLeghorn|    Argentina| ARG|
| 2453|     VEN|681448870|2015-02-26 04:17:00|  false|1575049713|  false|2015-02-26 04:13:00|      neodev|0.7692|  31310623|200.109.181.171|         positive|Virgin America|            0|@VirginAmerica ga...|                NULL|2015-02-19 07:19:00| 5.68E17|       San Francisco|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|       San Francisco|     marshman240|    Argentina| ARG|
| 3091|     BIH|681678022|2015-02-28 18:52:00|  false|1575762336|  false|2015-02-28 18:50:00|      neodev|0.9412|  28976121|  77.78.217.145|          neutral|      American|            0|@AmericanAir well...|                NULL|2015-02-23 15:06:00|  5.7E17|  Cambridge, MA, USA|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|           Cambridge|      leahstokes|    Australia| AUS|
| 2509|     VEN|681452471|2015-02-27 04:29:00|  false|1575058036|  false|2015-02-27 04:27:00|      neodev|0.7568|  31677304| 181.208.99.209|          neutral|        United|            0|@united I think y...|                NULL|2015-02-20 11:39:00| 5.69E17|       Cleveland, OH|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|           Cleveland|        shanp611|    Australia| AUS|
| 4590|     ISR|681454965|2015-02-27 03:30:00|  false|1575007905|  false|2015-02-27 03:25:00|   clixsense|0.9091|  10746059| 77.125.157.190|          neutral|     Southwest|            0|@SouthwestAir @Th...|                NULL|2015-02-22 12:35:00|  5.7E17|            Brooklyn|Eastern Time (US ...|        Unknown|        Unknown|    NULL|     NULL|            Brooklyn|        hlirvine|    Australia| AUS|
| 1677|     MEX|681448364|2015-02-26 03:17:00|  false|1574996981|  false|2015-02-26 03:12:00|      neodev|0.9259|  29044844|177.237.191.100|         negative|Virgin America|            0|@VirginAmerica Is...|                NULL|2015-02-23 09:25:00|  5.7E17|     Los Angeles, CA|             Arizona|      CSProblem|        Unknown|    NULL|     NULL|         Los Angeles|    MerchEngines|       Mexico| MEX|
| 2214|     VEN|681452580|2015-03-06 01:45:00|  false|1574914473|  false|2015-03-06 01:42:00|      neodev|0.8378|  31525566|  190.37.127.73|         positive|        United|            0|       @united thnx!|                NULL|2015-02-20 08:51:00| 5.69E17| Alphen aan den Rijn|           Amsterdam|        Unknown|        Unknown|    NULL|     NULL| Alphen aan den Rijn|       Gouwerijn|  Netherlands| NLD|
| 5385|     CAN|681451351|2015-03-03 02:49:00|  false|1574972590|  false|2015-03-03 02:48:00|sharecashgpt|0.9189|  28627999|   66.103.55.12|          neutral|        United|            0|@united I am foll...|                NULL|2015-02-21 21:09:00| 5.69E17|          Boston, MA|               Quito|        Unknown|        Unknown|    NULL|     NULL|              Boston|   jackiehoglund|  Philippines| PHL|
|  474|     ITA|681679167|2015-02-28 18:45:00|  false|1575752918|  false|2015-02-28 18:42:00|      neodev|  0.75|  27060459|  93.41.235.124|         negative|      American|            0|@AmericanAir I di...|                NULL|2015-02-22 18:00:00|  5.7E17|      Rossford, Ohio|Atlantic Time (Ca...|      CSProblem|        Unknown|    NULL|     NULL|            Rossford|  MatthewJMedlin|United States| USA|
| 4823|     MYS|681455339|2015-03-04 07:45:00|   true|1575200055|  false|2015-03-04 07:44:00|   clixsense|0.9231|  31233495|175.136.216.211|         negative|     Southwest|            0|@SouthwestAir I'v...|                NULL|2015-02-21 09:00:00| 5.69E17|     Baton Rouge, LA|Central Time (US ...|      CSProblem|        Unknown|    NULL|     NULL|         Baton Rouge|          HDTeem|United States| USA|
| 1806|     MEX|681675660|2015-02-28 19:21:00|   true|1575805219|  false|2015-02-28 19:02:00|       elite|0.9333|  28834224|189.131.137.204|         negative|         Delta|            0|@JetBlue time to ...|                NULL|2015-02-19 19:02:00| 5.69E17|          Austin, TX|Central Time (US ...|       canttell|        Unknown|    NULL|     NULL|              Austin|       cvsherman|United States| USA|
| 4894|     MYS|681679662|2015-02-25 19:22:00|  false|1575806658|  false|2015-02-25 19:20:00|   clixsense|   1.0|  30678282|  113.210.11.33|         negative|      American|            0|@AmericanAir @nao...|                NULL|2015-02-22 13:13:00|  5.7E17|               Pekin|Eastern Time (US ...|        booking|        Unknown|    NULL|     NULL|               Pekin|         otisday|United States| USA|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+------------+------+----------+---------------+-----------------+--------------+-------------+--------------------+--------------------+-------------------+--------+--------------------+--------------------+---------------+---------------+--------+---------+--------------------+----------------+-------------+----+
only showing top 20 rows

In [90]:
missing_iso3_df.columns, latlong_df.columns

(['index',
  '_country',
  '_unit_id',
  '_created_at',
  '_golden',
  '_id',
  '_missed',
  '_started_at',
  '_channel',
  '_trust',
  '_worker_id',
  '_ip',
  'airline_sentiment',
  'airline',
  'retweet_count',
  'text',
  'tweet_coord',
  'tweet_created',
  'tweet_id',
  'tweet_location',
  'user_timezone',
  'negativereason1',
  'negativereason2',
  'latitude',
  'longitude',
  'city',
  'twitter_username',
  'country_name',
  'iso3'],
 ['index', 'iso3'])

In [91]:
filled_iso3_df = missing_iso3_df.filter(F.col("iso3").isNotNull()).select("index", "iso3")

In [92]:
merged_iso3_df = filled_iso3_df.union(latlong_df)

In [94]:
merged_indexed_df = indexed.drop("iso3").join(
    merged_iso3_df, on="index", how="left"
).dropna(subset=["iso3"])

In [95]:
merged_indexed_df.show()

+-----+--------+---------+-------------------+-------+----------+-------+-------------------+--------------+------+----------+---------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+---------+----------+----+
|index|_country| _unit_id|        _created_at|_golden|       _id|_missed|        _started_at|      _channel|_trust|_worker_id|            _ip|airline_sentiment|       airline|           name|retweet_count|                text|tweet_coord|      tweet_created|tweet_id|      tweet_location|       user_timezone|negativereason1|negativereason2| latitude| longitude|iso3|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+--------------+------+----------+---------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+---------+----------+----+
|   29|     POL|681675653|2015-02-25 18:56:00|   true|1575768289|  false|2015-02-25 18:48:00|     clixsense|0.9091|  29114061|188.246.143.207|          neutral|     Southwest|       kalenski|            0|@SouthwestAir If ...|       NULL|2015-02-20 04:41:00| 5.69E17|              Denver|Mountain Time (US...|        Unknown|        Unknown|     NULL|      NULL| USA|
|  474|     ITA|681679167|2015-02-28 18:45:00|  false|1575752918|  false|2015-02-28 18:42:00|        neodev|  0.75|  27060459|  93.41.235.124|         negative|      American| MatthewJMedlin|            0|@AmericanAir I di...|       NULL|2015-02-22 18:00:00|  5.7E17|      Rossford, Ohio|Atlantic Time (Ca...|      CSProblem|        Unknown|     NULL|      NULL| USA|
| 1677|     MEX|681448364|2015-02-26 03:17:00|  false|1574996981|  false|2015-02-26 03:12:00|        neodev|0.9259|  29044844|177.237.191.100|         negative|Virgin America|   MerchEngines|            0|@VirginAmerica Is...|       NULL|2015-02-23 09:25:00|  5.7E17|     Los Angeles, CA|             Arizona|      CSProblem|        Unknown|     NULL|      NULL| MEX|
| 1697|     MEX|681679161|2015-03-05 19:32:00|  false|1575817417|  false|2015-03-05 19:21:00|         elite|0.9333|  28834224|189.131.137.204|         negative|      American|    NickLeghorn|            0|@AmericanAir FYI ...|       NULL|2015-02-22 18:02:00|  5.7E17|     San Antonio, TX|Eastern Time (US ...|      CSProblem|        Unknown|     NULL|      NULL| ARG|
| 1806|     MEX|681675660|2015-02-28 19:21:00|   true|1575805219|  false|2015-02-28 19:02:00|         elite|0.9333|  28834224|189.131.137.204|         negative|         Delta|      cvsherman|            0|@JetBlue time to ...|       NULL|2015-02-19 19:02:00| 5.69E17|          Austin, TX|Central Time (US ...|       canttell|        Unknown|     NULL|      NULL| USA|
| 1950|     MEX|681451623|2015-03-03 03:11:00|  false|1574992135|  false|2015-03-03 03:06:00|     clixsense|   0.9|  28418496|187.184.116.211|         negative|        United|        smithnr|            0|@united appreciat...|       NULL|2015-02-21 12:33:00| 5.69E17|31.790466, -85.97...|Central Time (US ...|      CSProblem|        Unknown|31.790466|-85.971558| FSM|
| 2214|     VEN|681452580|2015-03-06 01:45:00|  false|1574914473|  false|2015-03-06 01:42:00|        neodev|0.8378|  31525566|  190.37.127.73|         positive|        United|      Gouwerijn|            0|       @united thnx!|       NULL|2015-02-20 08:51:00| 5.69E17| Alphen aan den Rijn|           Amsterdam|        Unknown|        Unknown|     NULL|      NULL| NLD|
| 2453|     VEN|681448870|2015-02-26 04:17:00|  false|1575049713|  false|2015-02-26 04:13:00|        neodev|0.7692|  31310623|200.109.181.171|         positive|Virgin America|    marshman240|            0|@VirginAmerica ga...|       NULL|2015-02-19 07:19:00| 5.68E17|       San Francisco|Eastern Time (US ...|        Unknown|        Unknown|     NULL|      NULL| ARG|
| 2509|     VEN|681452471|2015-02-27 04:29:00|  false|1575058036|  false|2015-02-27 04:27:00|        neodev|0.7568|  31677304| 181.208.99.209|          neutral|        United|       shanp611|            0|@united I think y...|       NULL|2015-02-20 11:39:00| 5.69E17|       Cleveland, OH|Eastern Time (US ...|        Unknown|        Unknown|     NULL|      NULL| AUS|
| 3091|     BIH|681678022|2015-02-28 18:52:00|  false|1575762336|  false|2015-02-28 18:50:00|        neodev|0.9412|  28976121|  77.78.217.145|          neutral|      American|     leahstokes|            0|@AmericanAir well...|       NULL|2015-02-23 15:06:00|  5.7E17|  Cambridge, MA, USA|Eastern Time (US ...|        Unknown|        Unknown|     NULL|      NULL| AUS|
| 4590|     ISR|681454965|2015-02-27 03:30:00|  false|1575007905|  false|2015-02-27 03:25:00|     clixsense|0.9091|  10746059| 77.125.157.190|          neutral|     Southwest|       hlirvine|            0|@SouthwestAir @Th...|       NULL|2015-02-22 12:35:00|  5.7E17|            Brooklyn|Eastern Time (US ...|        Unknown|        Unknown|     NULL|      NULL| AUS|
| 4823|     MYS|681455339|2015-03-04 07:45:00|   true|1575200055|  false|2015-03-04 07:44:00|     clixsense|0.9231|  31233495|175.136.216.211|         negative|     Southwest|         HDTeem|            0|@SouthwestAir I'v...|       NULL|2015-02-21 09:00:00| 5.69E17|     Baton Rouge, LA|Central Time (US ...|      CSProblem|        Unknown|     NULL|      NULL| USA|
| 4894|     MYS|681679662|2015-02-25 19:22:00|  false|1575806658|  false|2015-02-25 19:20:00|     clixsense|   1.0|  30678282|  113.210.11.33|         negative|      American|        otisday|            0|@AmericanAir @nao...|       NULL|2015-02-22 13:13:00|  5.7E17|               Pekin|Eastern Time (US ...|        booking|        Unknown|     NULL|      NULL| USA|
| 5385|     CAN|681451351|2015-03-03 02:49:00|  false|1574972590|  false|2015-03-03 02:48:00|  sharecashgpt|0.9189|  28627999|   66.103.55.12|          neutral|        United|  jackiehoglund|            0|@united I am foll...|       NULL|2015-02-21 21:09:00| 5.69E17|          Boston, MA|               Quito|        Unknown|        Unknown|     NULL|      NULL| PHL|
| 5409|     CAN|681449003|2015-02-27 09:55:00|  false|1575294991|  false|2015-02-27 09:52:00|       prodege|0.9333|  19053597|198.254.134.132|          neutral|        United|karenmcgregor86|            0|@united even on i...|       NULL|2015-02-27 11:33:00|  5.7E17|Kilmarnock, now E...|           Edinburgh|        Unknown|        Unknown|     NULL|      NULL| GBR|
| 6721|     ESP|681679260|2015-03-03 18:51:00|  false|1575761243|  false|2015-03-03 18:49:00|gifthunterclub| 0.875|  30989093| 188.78.176.163|         negative|      American|   joseglopez00|            0|@AmericanAir You ...|       NULL|2015-02-22 17:13:00|  5.7E17|     Springfield, MO|Central Time (US ...|      CSProblem|        Unknown|     NULL|      NULL| AUS|
| 7279|     SGP|681470435|2015-03-02 01:28:00|   true|1574900610|   true|2015-03-02 01:25:00|        neodev|0.8378|  31481079| 137.132.22.189|         positive|      American|     byunsamuel|            0|@AmericanAir Hope...|       NULL|2015-02-19 15:25:00| 5.69E17|       Sunnyside, NY|Eastern Time (US ...|        Unknown|        Unknown|     NULL|      NULL| USA|
| 9458|     IDN|681457099|2015-03-02 06:28:00|   true|1575145915|  false|2015-03-02 06:25:00|        neodev|0.7838|  29689810| 112.215.63.218|          neutral|     Southwest|        RachFee|            0|@southwestair - k...|       NULL|2015-02-17 08:11:00| 5.68E17|London, Ontario, ...|Central Time (US ...|        Unknown|        Unknown|     NULL|      NULL| CAN|
| 9945|     DEU|681457035|2015-03-03 09:38:00|  false|1575282913|  false|2015-03-03 09:37:00|   tremorgames|0.8182|  31613601|  95.91.248.196|         negative|     Southwest|         Loley9|            0|@SouthwestAir bee...|       NULL|2015-02-17 09:13:00| 5.68E17|          Dallas, TX|Central Time (US ...|           late|        Unknown|     NULL|      NULL| AUS|
|10156|     JPN|681466712|2015-03-02 07:31:00|   true|1575190238|  false|2015-03-02 07:28:00|        neodev| 0.875|  29249669|  43.249.53.243|         negative|      American|  stevereasnors|            0|@AmericanAir shou...|       NULL|2015-02-22 12:55:00|  5.7E17|         Los Angeles|Pacific Time (US ...|  airplanestaff|        Unknown|     NULL|      NULL| MEX|
+-----+--------+---------+-------------------+-------+----------+-------+-------------------+--------------+------+----------+---------------+-----------------+--------------+---------------+-------------+--------------------+-----------+-------------------+--------+--------------------+--------------------+---------------+---------------+---------+----------+----+
only showing top 20 rows

In [96]:
merged_indexed_df.count()

201216

In [97]:
merged_indexed_df.drop("index", "tweet_location", "tweet_coord", "latitude", "longitude").repartition(1).write.csv(
    "./data/task_3/", header=True, mode="overwrite", quote='"'
)